@{
    Layout = "~/Views/Shared/_LogInLayout.cshtml";

    ViewData["Title"] = "Log In";

}

<div id="carousel-banner" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-banner" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-banner" data-slide-to="2" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="smallimg" src="~/Content/img/mob_lab_banner1.jpg" alt="small banner"/>
            <img class="bigimg" src="~/Content/img/lab_banner.jpg" alt="big banner"/>          
        </div>
        <div class="item">
            <img class="smallimg" src="~/Content/img/mob_lab_banner2.jpg" alt="small content" />
            <img class="bigimg" src="~/Content/img/lab_banner2.jpg" alt="big content" />
        </div>
        <div class="item">
            <div class="content">
                <img class="smallimg" src="~/Content/img/mob_lab_banner3.jpg" alt="small Contact" />
                <img class="bigimg" src="~/Content/img/lab_banner3.jpg" alt="big Contact" />
                <button class="btn btn-default" type="submit">contáctenos</button>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="container-fluid">
    <div class="row bienvenido">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
            <h1>¡Bienvenido!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Username</span>
                <input type="text" class="form-control" placeholder="Ingrese su usuario" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Contraseña</span>
                <input type="text" class="form-control" placeholder="Ingrese su contraseña" aria-describedby="basic-addon2">
            </div>
            <a class="btn btn-default pull-right" role="button" asp-area="" href="@Url.Action("Welcome", "Home")">Entrar</a>
        </div>
    </div>

</div>