
@{
    ViewBag.Title = "Inicio";
}

<h2 class="Titular">¿Qué desea hacer?</h2>

<div class="row container cpl-sm-10">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
            </div>
            <div class="panel-body">
                <ul class="inicio">
                    <li class="clients">Consulte su listado de clientes.</li>
                    <li class="clients">Acceda a los datos de contacto y otra información pertinente.</li>
                    <li class="clients">Cargue un nuevo cliente</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
            </div>
            <div class="panel-body">
                <ul class="inicio">
                    <li class="products">Consulte los productos disponibles para muestreo.</li>
                    <li class="products">Vea un detalle de los análisis asociados a cada uno.</li>
                    <li class="products">Acutalice datos o cargue un nuevo producto.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Análisis</h3>
            </div>
            <div class="panel-body">
                <ul class="inicio">
                    <li class="tests">Consulte el listado de análisis.</li>
                    <li class="tests">Acceda a sus precios asignados.</li>
                    <li class="tests">Acualice, modifique o agregue nuevos.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Muestreo</h3>
            </div>
            <div class="panel-body">
                <ul class="inicio">
                    <li class="sampling">Cargue un nuevo muestreo de productos.</li>
                    <li class="sampling">Consulte muestreos anteriores</li>
                    <li class="sampling">Genere a partir de ellos su presupuesto.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
