
@{
    ViewBag.Title = "Inicio";
}

<h2 class="Titular">¿Qué desea hacer?</h2>

<div class="row container cpl-sm-10">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Consulte su listado de clientes.</li>
                    <li>Acceda a los datos de contacto y otro detalles.</li>
                    <li>Cargue un nuevo cliente</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Consulte los productos disponibles para muestreo.</li>
                    <li>Vea un listado de los análisis asociados a cada uno.</li>
                    <li>Acutalice datos o cargue un nuevo producto.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Análisis</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Consulte el listado de análisis.</li>
                    <li>Acceda a sus precios asignados.</li>
                    <li>Acualice, modifique o agregue nuevos.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Muestreo</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Cargue un nuevo muestreo de productos.</li>
                    <li>Consulte muestreos anteriores</li>
                    <li>Genere a partir de ellos su presupuesto.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
